{% extends 'base.html' %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>   <!-- <h1>Set a new password!</h1> -->

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}
